@import './SASS/variable';
@import './SASS/utencils';
@import './SASS/animation';
body{
    font-size: map-get($font-size, bigger);
    font-family: map-get($font-family, secondary-font);
    min-width: 1450px;
    background-color: #000000;
    color: white;
    // Navigation
    nav{
        @include flex(row);
        justify-content: space-between;
        padding: 0 10%;
        background-color: #000000;
        position: sticky;
        top: 0;
        z-index: 1000000000;
        a{
            text-decoration: none;
            color: white;
        }
        ul{
            @include flex(row);
            list-style: none;
            position: relative;
            
            li{
                a{
                padding:10px 5px;
                }
                padding: 15px 10px;
                position: relative;
                &:hover .dropdown-nav-home,
                &:hover .products-dropdown{
                    visibility: visible;
                }
                .dropdown-nav-home{
                    position: absolute;
                    // left: 0;
                    transform: translateX();
                    background-color: aqua;
                    @include grid(repeat(5, 1fr));
                    // .each-links{
                    //     background-color: aquamarine;
                    // }
                    width: 100vw;
                    visibility: hidden;
                }
                .products-dropdown{
                    position: absolute;
                    left: -10px;
                    font-size: 16px;
                    padding: 20px 0;
                    list-style: none;
                    @include flex(column);
                    width: 200px;
                    background-color: black;
                    align-items: start;
                    align-content: start;
                    visibility: hidden;
                    a{
                        margin: 0;
                        padding: 0;
                        &:hover{
                            color:green;
                        }
                    }
                    li{
                        @include flex(row);
                        justify-content: space-between;
                        margin: 0;
                        padding: 5px 20px;
                        width: 100%;                        
                        &:hover .products-mini-dropdown{
                            visibility: visible;
                        }
                        &:hover{
                            color: wheat;
                        }
                        .products-mini-dropdown{
                            position: absolute;
                            left: 200px;
                            top: 10px;
                            list-style: none;
                            @include flex(column);
                            width: 200px;
                            background-color: black;
                            visibility: hidden;
                            li{
                                padding:0px 5px 5px 50px;
                                &:hover{
                                    color: wheat;
                                }
                            }
                        }
                    }
                }
                .pages-dropdown{
                    @extend .products-dropdown;
                }
                .contacts-dropdown{
                    @extend .products-dropdown;
                }
            }
        }
        .dot-buttons{
            padding: 15px 40px;
            margin: 10px 0;
            background-color: white;
            border: none;
            @include flex(row);
            gap: 20px;
            font-size: 18px;
            &:hover .material-symbols-outlined{
                @include btnAnimation;
            }
            .material-symbols-outlined{
                font-size: 8px;
                background-color: #000000;
                border-radius: 50px;
            }
        }
    }
    // Header
    header{
        text-align: center;
        .circle{
            background-color: grey;
            width: 450px;
            height: 450px;
            border-radius: 400px;
            position: absolute;
            top:-8rem;
            left: 12vw;
            z-index: -100;
        }
        h1{
            margin-top: 6rem;
            font-size: 100px;
            font-weight: map-get($font-weight, regular);
        }
        p{
            padding: 2px 25%;
        }
    }
    // Website Templates(Main)
    main{
        padding: 0 10%;
        margin: 5rem 0;
        @include grid(repeat(3, 1fr));
        gap: 30px;
        .templatesDesign{
            text-align: center;
            border-radius: 10px;
            overflow: hidden;
            &:hover img{
                @include mainAnimation;
            }
            img{
                width: 100%;
            }
            p{
                margin: 2rem 0;
            }
        }
    }

    // Present your work in a unique way 💪(Section)
    .section-white-bg{
        background-color: #ffff;
        color:#000000;
        padding:7rem 10%;
        align-items: start;
        .img-text-section{
            @include flex(row);
            align-items: start;
            .div-images{
                width: 100%;
                img{
                    width: 70%;
                    &:nth-child(2){
                        transform: translate(30%, -70px);
                    }
                }
            }
            .div-text {
                width: 100%;
                h3{
                    font-weight: 600;
                    font-size: 35px;
                    padding: 2rem 30% 2rem 0 ;
                }
                p{
                    margin-left: 15%;
                    padding: 10px 20px 10px 0;
                }
                button {
                    margin: 2rem 15%;
                    padding: 15px 30px;
                    @include flex(row);
                    gap: 30px;
                    font-size: 18px;
                    color: white;
                    background-color: #000000;
                    border: none;
                    &:hover .material-symbols-outlined{
                        @include btnAnimation;
                    }
                    .material-symbols-outlined{
                        font-size: 8px;
                        background-color: white;
                        color: white;
                        border-radius: 50px;
                    }

                }
            }
        }
        .templates-more{
            text-align: center;
            div{
                @include flex(row);
                gap: 20px;
                img{
                    width: 100%;
                    border: 1px solid #afaaaa;
                    border-radius: 5px;
                }

            }
            p {
                margin: 2rem 0 0 0;
                font-weight: 600;
            }
        }
    }

    // project-showcase
    .project-showcase{ 
        padding: 5rem 0;
        padding-bottom: 10rem;
        h3 {
            padding: 0 10% 0 10%;
            margin-bottom: 5rem;
            font-size: 45px;
            font-weight: 400;
            text-align: center;
        }
        div{
            @include flex(row);
            gap: 40px;
            overflow: scroll;
            scrollbar-width: none;
            img{
                width: 350px;
            }
            .image-500px{
                width: 500px;
            }
            .translate1{
                margin-left: 10vw;
            }
            .translate2{
                margin-right: 10vw;
            }
        }
    }

    // Practical Inner pages
    .inner-pages{
        background-color: white;
        color: black;
        padding: 5rem 10%;
        .inner-pages-text{
                @include flex(row);h3{
                font-size: 30px;
                width: 100%;
                padding: 0 10%;
                font-weight: 500;
            }
            p {
                width: 100%;
                padding: 0 10%;
            }
        }
        .inner-pages-grid{
            margin-top: 5rem;
            @include grid(repeat(4, 1fr));
            gap: 30px;
            text-align: center;
            .grids{
                &:hover img{
                @include mainAnimation;
            } 
            img{
                width: 100%;
                box-shadow: 0px 0px 10px #e6e2e2c9;
            }
            p{
                margin: 1rem;
            }
            }
            
            
        }
    }
}