@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Big+Shoulders+Display:wght@100..900&family=Inter:wght@100..900&family=Lexend+Deca:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Press+Start+2P&family=Raleway:ital,wght@0,100..900;1,100..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.2rem;
  font-family: "Poppins";
  min-width: 1450px;
  background-color: #000000;
  color: white;
}
body nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  padding: 0 10%;
  background-color: #000000;
  position: sticky;
  top: 0;
  z-index: 1000000000;
}
body nav a {
  text-decoration: none;
  color: white;
}
body nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  list-style: none;
  position: relative;
}
body nav ul li {
  padding: 15px 10px;
  position: relative;
}
body nav ul li a {
  padding: 10px 5px;
}
body nav ul li:hover .dropdown-nav-home, body nav ul li:hover .products-dropdown, body nav ul li:hover .contacts-dropdown, body nav ul li:hover .pages-dropdown {
  visibility: visible;
}
body nav ul li .dropdown-nav-home {
  position: absolute;
  transform: translateX();
  background-color: aqua;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  align-items: center;
  align-content: center;
  width: 100vw;
  visibility: hidden;
}
body nav ul li .products-dropdown, body nav ul li .contacts-dropdown, body nav ul li .pages-dropdown {
  position: absolute;
  left: -10px;
  font-size: 16px;
  padding: 20px 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  width: 200px;
  background-color: black;
  align-items: start;
  align-content: start;
  visibility: hidden;
}
body nav ul li .products-dropdown a, body nav ul li .contacts-dropdown a, body nav ul li .pages-dropdown a {
  margin: 0;
  padding: 0;
}
body nav ul li .products-dropdown a:hover, body nav ul li .contacts-dropdown a:hover, body nav ul li .pages-dropdown a:hover {
  color: green;
}
body nav ul li .products-dropdown li, body nav ul li .contacts-dropdown li, body nav ul li .pages-dropdown li {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  margin: 0;
  padding: 5px 20px;
  width: 100%;
}
body nav ul li .products-dropdown li:hover .products-mini-dropdown, body nav ul li .contacts-dropdown li:hover .products-mini-dropdown, body nav ul li .pages-dropdown li:hover .products-mini-dropdown {
  visibility: visible;
}
body nav ul li .products-dropdown li:hover, body nav ul li .contacts-dropdown li:hover, body nav ul li .pages-dropdown li:hover {
  color: wheat;
}
body nav ul li .products-dropdown li .products-mini-dropdown, body nav ul li .contacts-dropdown li .products-mini-dropdown, body nav ul li .pages-dropdown li .products-mini-dropdown {
  position: absolute;
  left: 200px;
  top: 10px;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  width: 200px;
  background-color: black;
  visibility: hidden;
}
body nav ul li .products-dropdown li .products-mini-dropdown li, body nav ul li .contacts-dropdown li .products-mini-dropdown li, body nav ul li .pages-dropdown li .products-mini-dropdown li {
  padding: 0px 5px 5px 50px;
}
body nav ul li .products-dropdown li .products-mini-dropdown li:hover, body nav ul li .contacts-dropdown li .products-mini-dropdown li:hover, body nav ul li .pages-dropdown li .products-mini-dropdown li:hover {
  color: wheat;
}
body nav .dot-buttons {
  padding: 15px 40px;
  margin: 10px 0;
  background-color: white;
  border: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  gap: 20px;
  font-size: 18px;
}
body nav .dot-buttons:hover .material-symbols-outlined {
  animation: btnAnimation 0.35s infinite alternate;
}
@keyframes btnAnimation {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-15px);
  }
}
body nav .dot-buttons .material-symbols-outlined {
  font-size: 8px;
  background-color: #000000;
  border-radius: 50px;
}
body header {
  text-align: center;
}
body header .circle {
  background-color: grey;
  width: 450px;
  height: 450px;
  border-radius: 400px;
  position: absolute;
  top: -8rem;
  left: 12vw;
  z-index: -100;
}
body header h1 {
  margin-top: 6rem;
  font-size: 100px;
  font-weight: 400;
}
body header p {
  padding: 2px 25%;
}
body main {
  padding: 0 10%;
  margin: 5rem 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  align-items: center;
  align-content: center;
  gap: 30px;
}
body main .templatesDesign {
  text-align: center;
  border-radius: 10px;
  overflow: hidden;
}
body main .templatesDesign:hover img {
  animation: mainAnimation 0.3s ease both alternate;
}
@keyframes mainAnimation {
  from {
    transform: translateY(-1px);
  }
  to {
    transform: translateY(-15px);
  }
}
body main .templatesDesign img {
  width: 100%;
}
body main .templatesDesign p {
  margin: 2rem 0;
}
body .section-white-bg {
  background-color: white;
  color: #000000;
  padding: 7rem 10%;
  align-items: start;
}
body .section-white-bg .img-text-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  align-items: start;
}
body .section-white-bg .img-text-section .div-images {
  width: 100%;
}
body .section-white-bg .img-text-section .div-images img {
  width: 70%;
}
body .section-white-bg .img-text-section .div-images img:nth-child(2) {
  transform: translate(30%, -70px);
}
body .section-white-bg .img-text-section .div-text {
  width: 100%;
}
body .section-white-bg .img-text-section .div-text h3 {
  font-weight: 600;
  font-size: 35px;
  padding: 2rem 30% 2rem 0;
}
body .section-white-bg .img-text-section .div-text p {
  margin-left: 15%;
  padding: 10px 20px 10px 0;
}
body .section-white-bg .img-text-section .div-text button {
  margin: 2rem 15%;
  padding: 15px 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  gap: 30px;
  font-size: 18px;
  color: white;
  background-color: #000000;
  border: none;
}
body .section-white-bg .img-text-section .div-text button:hover .material-symbols-outlined {
  animation: btnAnimation 0.35s infinite alternate;
}
@keyframes btnAnimation {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-15px);
  }
}
body .section-white-bg .img-text-section .div-text button .material-symbols-outlined {
  font-size: 8px;
  background-color: white;
  color: white;
  border-radius: 50px;
}
body .section-white-bg .templates-more {
  text-align: center;
}
body .section-white-bg .templates-more div {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  gap: 20px;
}
body .section-white-bg .templates-more div img {
  width: 100%;
  box-shadow: 0px 0px 10px #e3dfdf;
  border-radius: 5px;
}
body .section-white-bg .templates-more div img:hover {
  animation: mainAnimation 0.3s ease both alternate;
}
@keyframes mainAnimation {
  from {
    transform: translateY(-1px);
  }
  to {
    transform: translateY(-15px);
  }
}
body .section-white-bg .templates-more p {
  margin: 2rem 0 0 0;
  font-weight: 600;
}
body .project-showcase {
  padding: 5rem 0;
  padding-bottom: 10rem;
}
body .project-showcase h3 {
  padding: 0 10% 0 10%;
  margin-bottom: 5rem;
  font-size: 45px;
  font-weight: 400;
  text-align: center;
}
body .project-showcase div {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  gap: 40px;
  overflow: scroll;
  scrollbar-width: none;
}
body .project-showcase div img {
  width: 350px;
}
body .project-showcase div .image-500px {
  width: 500px;
}
body .project-showcase div .translate1 {
  margin-left: 10vw;
}
body .project-showcase div .translate2 {
  margin-right: 10vw;
}
body .inner-pages {
  background-color: white;
  color: black;
  padding: 5rem 10%;
}
body .inner-pages .inner-pages-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
}
body .inner-pages .inner-pages-text h3 {
  font-size: 30px;
  width: 100%;
  padding: 0 10%;
  font-weight: 500;
}
body .inner-pages .inner-pages-text p {
  width: 100%;
  padding: 0 10%;
}
body .inner-pages .inner-pages-grid {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  align-items: center;
  align-content: center;
  gap: 30px;
  text-align: center;
}
body .inner-pages .inner-pages-grid .grids:hover img {
  animation: mainAnimation 0.3s ease both alternate;
}
@keyframes mainAnimation {
  from {
    transform: translateY(-1px);
  }
  to {
    transform: translateY(-15px);
  }
}
body .inner-pages .inner-pages-grid .grids img {
  width: 100%;
  box-shadow: 0px 0px 10px rgba(230, 226, 226, 0.7882352941);
}
body .inner-pages .inner-pages-grid .grids p {
  margin: 1rem;
}/*# sourceMappingURL=style.css.map */