@import './SASS/variable';
@import './SASS/utencils';
@import './SASS/animation';
body{
    font-size: map-get($font-size, bigger);
    font-family: map-get($font-family, secondary-font);
    min-width: map-get($screen-sizes, laptop);
    background-color: #000000;
    color: white;
    // Navigation
    nav{
        @include flex(row);
        justify-content: space-between;
        padding: 0 10%;
        background-color: #000000;
        position: sticky;
        top: 0;
        z-index: 1000000000;
        a{
            text-decoration: none;
            color: white;
        }
        ul{
            @include flex(row);
            list-style: none;
            position: relative;
            
            li{
                a{
                padding:10px 5px;
                }
                padding: 15px 10px;
                position: relative;
                &:hover .dropdown-nav-home,
                &:hover .products-dropdown{
                    visibility: visible;
                }
                .dropdown-nav-home{
                    position: absolute;
                    // left: 0;
                    transform: translateX();
                    background-color: aqua;
                    @include grid(repeat(5, 1fr));
                    // .each-links{
                    //     background-color: aquamarine;
                    // }
                    width: 100vw;
                    visibility: hidden;
                }
                .products-dropdown{
                    position: absolute;
                    left: -10px;
                    font-size: 16px;
                    padding: 20px 0;
                    list-style: none;
                    @include flex(column);
                    width: 200px;
                    background-color: black;
                    align-items: start;
                    align-content: start;
                    visibility: hidden;
                    a{
                        margin: 0;
                        padding: 0;
                        &:hover{
                            color:green;
                        }
                    }
                    li{
                        @include flex(row);
                        justify-content: space-between;
                        margin: 0;
                        padding: 5px 20px;
                        width: 100%;                        
                        &:hover .products-mini-dropdown{
                            visibility: visible;
                        }
                        &:hover{
                            color: wheat;
                        }
                        .products-mini-dropdown{
                            position: absolute;
                            left: 200px;
                            top: 10px;
                            list-style: none;
                            @include flex(column);
                            width: 200px;
                            background-color: black;
                            visibility: hidden;
                            li{
                                padding:0 5px 5px 50px;
                                &:hover{
                                    color: wheat;
                                }
                            }
                        }
                    }
                }
                .pages-dropdown{
                    @extend .products-dropdown;
                }
                .contacts-dropdown{
                    @extend .products-dropdown;
                }
            }
        }
        button{
            padding: 15px 40px;
            margin: 10px 0;
            background-color: white;
            border: none;
            @include flex(row);
            gap: 20px;
            font-size: 18px;
            &:hover .material-symbols-outlined{
                @include btnAnimation;
            }
            .material-symbols-outlined{
                font-size: 8px;
                background-color: #000000;
                border-radius: 50px;
            }
        }
    }
    // Header
    header{
        text-align: center;
        .circle{
            background-color: grey;
            width: 450px;
            height: 450px;
            border-radius: 400px;
            position: absolute;
            top:-8rem;
            left: 12vw;
            z-index: -100;
        }
        h1{
            margin-top: 6rem;
            font-size: 100px;
            font-weight: map-get($font-weight, regular);
        }
        p{
            padding: 2px 25%;
        }
    }
    // Website Templates(Main)
    main{
        padding: 0 10%;
        margin: 5rem 0;
        @include grid(repeat(3, 1fr));
        gap: 30px;
        .templatesDesign{
            text-align: center;
            border-radius: 10px;
            overflow: hidden;
            &:hover img{
                @include mainAnimation;
            }
            img{
                width: 100%;
            }
            p{
                margin: 2rem 0;
            }
        }
    }

    // 
}