@import './SASS/variable';
@import './SASS/utencils';
@import './SASS/animation';
body{
    font-size: map-get($font-size, bigger);
    font-weight: map-get($font-weight, medium);
    font-family: map-get($font-family, secondary-font);
    min-width: map-get($screen-sizes, laptop);
    nav{
        @include flex(row);
        justify-content: space-between;
        background-color: #000000;
        padding: 0 10%;
        a{
            text-decoration: none;
            color: white;
        }
        ul{
            @include flex(row);
            list-style: none;
            position: relative;
            
            li{
                a{
                padding:20px 5px;
                }
                padding: 20px 10px;
                position: relative;
                &:hover .dropdown-nav-home{
                    visibility: visible;
                }
                .dropdown-nav-home{
                    position: absolute;
                    // left: 0;
                    transform: translateX();
                    background-color: aqua;
                    @include grid(repeat(5, 1fr));
                    // .each-links{
                    //     background-color: aquamarine;
                    // }
                    width: 100vw;
                    visibility: hidden;
                }
            }
        }
        button{
            padding: 15px 20px;
            background-color: white;
            border: none;
            @include flex(row);
            gap: 20px;
            &:hover .material-symbols-outlined{
                @include btnAnimation;
            }
            .material-symbols-outlined{
                font-size: 8px;
                background-color: #000000;
                border-radius: 50px;
            }
        }
    }
}